body {
    background-color: #000000;
    color: #e0e0e0;
    font-family: sans-serif;
    margin: 0;
    min-height: 100vh;
    width: 100%;
}

.app-container {
    background-color: #070707;
    padding: 1.5rem;
    border-radius: 16px;
    box-shadow: 0 0 12px rgba(28, 28, 28, 0.05);
    border: 1px solid #161616;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;        
    margin-top: clamp(100px, 18vh, 180px);
}

.app-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 2rem;
  border-bottom: 1px solid #333;
  padding-bottom: 0.8rem;
}

.logo {
  width: 48px;
  height: 48px;
}

.brand-name {
  font-size: 1.4rem;
  font-weight: 600;
  color: silver;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.title {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Caveat', cursive;
    color: #0099ff;
    letter-spacing: 0.3px;
}

.input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 1.5rem;
}

input {
    flex: 1;
    padding: 10px;
    background: #101010;
    border: 1px solid #222222;
    border-radius: 6px;
    color: #fff;
    outline: none;
}

input:focus {
    border-color: #ccc;
}

button {
    background-color: transparent;
    border: 1px solid silver;
    color: silver;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: silver;
    color: #121212;
}

.task-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.todo-item {
    background: #101010;
    border: 1px solid #222222;
    margin-bottom: 8px;
    padding: 10px 12px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-item button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s ease;
}

.todo-item.completed span {
    text-decoration: line-through;
    color: #777;
    opacity: 0.6;
}

.global-header {
  position: fixed;
  top: 20px;
  left: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 100;
}

.clear-btn {
    margin-top: 20px;
    padding: 10px 16px;
    background: #ff4d4d;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

.clear-btn:hover {
    background-color: #e60000;
}

.task-counter {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
    text-align: center;
}

.icon-btn {
    background: #101010;
    border: 1px solid #222222;
    padding: 8px 10px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-btn:hover {
    background: #202020;
}

.left-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #666;
}

.check-icon {
    color: #6ee7b7;
}

.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #aaa;
}

.delete-btn:hover {
    color: #ff6b6b;
}

.task-list::-webkit-scrollbar {
    width: 6px;
}

.task-list::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 10px;
}

.task-list::-webkit-scrollbar-track {
    background: transparent;
}

@media (max-width: 600px) {
    .app-container {
        margin-top: 140px;
        padding: 1rem;
        border-radius: 12px;
        width: 90%;
    }

    .title {
        font-size: 24px;
        font-weight: 400;
    }

    input {
        font-size: 14px;
    }

    button {
        padding: 6px 10px;
    }

    .todo-item {
        padding: 8px 10px;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    .app-container {
        width: 85%;          
        padding: 1.8rem;
        margin-top: 110px;
        border-radius: 14px;
    }

    .title {
        font-size: 22px;
    }

    input {
        font-size: 15px;
        padding: 12px;
    }

    button {
        padding: 8px 14px;
        font-size: 15px;
    }

    .todo-item {
        padding: 10px 14px;
    }
}

@media (min-width: 900px) {
  .app-container {
    margin-top: 80px;
  }

  .title {
    font-size: 22px;
    font-weight: 400;
  }
}

.theme-toggle {
    all: unset;
    position: fixed;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border: 3px solid #888;
    border-radius: 50%;
    cursor: pointer;
}

.theme-toggle:hover {
    border-color: #0099ff;
    background-color: transparent !important;
    color: inherit !important;
}

/* LIGHT MODE */
.light body {
  background-color: #ffffff;
  color: #333;
}

.light .brand-name {
    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.light .app-container {
  background-color: #fafafa;
  border: 1px solid #e5e5e5;
}

.light input {
  background: #ffffff;
  border: 1px solid #ddd;
  color: #111;
}

.light .todo-item {
  background: #ffffff;
  border: 1px solid #e5e5e5;
}

.light .title {
  color: #0099ff !important;
}

.light .icon-btn {
  background: white;
  border: 1px solid #ccc;
}

.light .clear-btn {
  background: #ff4444;
}

.light .task-counter {
  color: #444;
}

.light .delete-btn:hover {
  color: #ff4d4d;
}

.filter-tabs {
  margin-bottom: 10px;
}

.tab-btn {
  padding: 6px 14px;
  border: 1px solid #333;
  background-color: transparent !important;
  color: inherit !important;
  color: silver;
  border-radius: 20px;
  font-size: 13px;
  cursor: pointer;
  transition: 0.2s ease;
}

.tab-btn:hover {
  border-color: #0099ff;
}

.tab-btn.active {
  border-color: #0099ff;
  color: #0099ff;
}

.light .tab-btn {
  border: 1px solid #ccc;
  color: #444;
}

.light .tab-btn:hover {
  border-color: #0099ff;
}

.light .tab-btn.active {
  border-color: #0099ff;
  color: #0099ff;
}
